<article class="container" id="terminy">
    <section>
        <h1 class="title">Terminy</h1>
        <p class="description">
            lista najważniejszych dat związanych z sesją egzaminacyjną 2019
        </p>
        <article id="terms-container">
            <div id="desktop-terms">
                <div class="term-block">
                    {# ---------------------------------SESJA ZIMOWA DESKTOP--------------------------------------- #}
                    <figure class="term-square"></figure>
                    <span class="term-title">Sesja zimowa</span>
                    <div style="clear:both"></div>

                    <div class="term-date">
                        <time datetime="10.01.2019">10.01.2019</time>
                    </div>

                    <div class="term-date">
                        <time datetime="09.01.2019">09.01</time> - <time datetime="16.01.2019">16.01.2019</time>
                    </div>

                    <div class="term-date">
                        <time datetime="22.03.2019">22.03.2019</time>
                    </div>
                </div>

                <div class="term-block term-middle">
                    <span class="term-subtitle">część pisemna</span>
                    <span class="term-subtitle">część praktyczna</span>
                    <span class="term-subtitle">ogłoszenie wyników</span>
                </div>

                <div class="term-block">
                    {# ---------------------------------SESJA LETNIA DESKTOP--------------------------------------- #}
                    <figure class="term-square"></figure>
                    <span class="term-title">Sesja letnia</span>
                    <div style="clear:both"></div>

                    <div class="term-date">
                        <time datetime="18.06.2019">18.06.2019</time>
                    </div>

                    <div class="term-date">
                        <time datetime="17.06.2019">17.06</time> - <time datetime="04.07.2019">04.07.2019</time>
                    </div>

                    <div class="term-date">
                        <time datetime="30.08.2019">30.08.2019</time>
                    </div>
                </div>
            </div>

            <div id="mobile-terms">
                {# ---------------------------------SESJA ZIMOWA MOBILNA--------------------------------------- #}

                <figure class="term-square float-left"></figure>
                <span class="term-title float-left" style="margin-left: 10px">Sesja zimowa</span>
                <div style="clear: both"></div>
                <span class="term-subtitle">część pisemna</span>
                <div class="term-date">
                    <time datetime="10.01.2019">10.01.2019</time>
                 </div>

                <span class="term-subtitle">część praktyczna</span>
                <div class="term-date">
                    <time datetime="09.01.2019">09.01</time> - <time datetime="16.01.2019">16.01.2019</time>
                </div>

                <span class="term-subtitle">ogłoszenie wyników</span>
                <div class="term-date">
                    <time datetime="22.03.2019">22.03.2019</time>
                </div>

                {# ---------------------------------SESJA LETNIA MOBILNA--------------------------------------- #}
                <figure class="term-square float-left" style="margin-top: 20px"></figure>
                <span class="term-title float-left" style="margin-top: 20px;margin-left: 10px">Sesja letnia</span>
                <div style="clear: both"></div>
                <span class="term-subtitle">część pisemna</span>
                <div class="term-date">
                    <time datetime="18.06.2019">18.06.2019</time>
                </div>

                <span class="term-subtitle">część praktyczna</span>
                <div class="term-date">
                    <time datetime="17.06.2019">17.06</time> - <time datetime="04.07.2019">04.07.2019</time>
                </div>

                <span class="term-subtitle">ogłoszenie wyników</span>
                <div class="term-date">
                    <time datetime="30.08.2019">30.08.2019</time>
                </div>
            </div>
        </article>
    </section>
    <footer>
        szczegółowe informacje na temat zasad oraz sposobu przeprowadzania egzaminu dostępne sa pod adresem
        <br/>
        <a target="_blank" href="https://cke.gov.pl/images/_KOMUNIKATY/Informacja_o_egzaminie_zawodowym_2018-2019_ost.pdf">https://cke.gov.pl/images/_KOMUNIKATY/Informacja_o_egzaminie_zawodowym_2018-2019_ost.pdf</a>
    </footer>
</article>