#terminy footer {
    font-size: 17px;
    border-top: 1px solid #979797;
    color: grey;
    word-break: break-all;
    font-weight: 400;
}

#deadlines-container {
    max-width: 750px;
    margin: 50px auto;
    height: 220px;
}

#deadlines-container .deadline-block {
    width: 250px;
    float: left;
}

.deadline-title {
    font-weight: 700;
    font-size: 23px;
    margin-right: 10px;
}

#desktop-deadlines .deadline-block:last-of-type .deadline-title {
    margin-right: 0;
    margin-left: 10px;
}

#desktop-deadlines .deadline-block:first-of-type .deadline-title,
#desktop-deadlines .deadline-block:first-of-type .deadline-square {
    float: right;
}

#desktop-deadlines .deadline-block:last-of-type .deadline-title,
#desktop-deadlines .deadline-block:last-of-type .deadline-square {
    float: left;
}

#desktop-deadlines .deadline-block:first-of-type {
    text-align: right;
}

#desktop-deadlines .deadline-block:last-of-type {
    text-align: left;;
}

.deadline-subtitle {
    display: block;
    font-size: 20px;
    color: grey;
    margin-top: 18px;
}

#mobile-deadlines .deadline-subtitle {
    margin-top: 0;
}

.deadline-date {
    display: block;
    font-size: 19px;
    color: #000;
    font-weight: 600;
    margin-top: 20px;
}

#mobile-deadlines .deadline-date {
    margin-top: 0;
    margin-left: 15px;
}

.deadline-square {
    width: 35px;
    height: 35px;
    background: rgb(86, 191, 209);
    margin-bottom: 15px;
}


.deadline-middle {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}

#mobile-deadlines {
    display: none;
}

@media (max-width: 992px) {
    #deadlines-container {
        height: 460px;
    }

    #mobile-deadlines {
        display: block;
    }

    #desktop-deadlines {
        display: none;
    }
}