.devider {
    height: 1px; 
    background-color: #000;
}

.devider-mobile {
    margin-left: 15px;
}
  
#errors-container {
    margin-top: 30px;
    height: 60px;
    margin-right: 15px
}

.left-white-space {
    margin-left: 200px;
}

@media (max-width: 767px) {
    .left-white-space {
        margin-left: 15px;
    }
}

.bottom-btn-container {
    position: relative;
    height: 90px;
    margin-top: 25px;
}

.center-btn,
.middle-button {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 300px;
    font-size: 20px;
    border: 5px solid #000;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.right-btn {
    position: absolute;
    right: 60px;
    top: 0;
    width: 300px;
    font-size: 20px;
    border: 5px solid #000;
    width: 200px;
    color: #000;
    background: #FFF;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.right-btn:hover {
    color: #dadada;
    background-color: #000;
}

@media (max-width: 767px) {
    .right-btn {
        width: 300px;
        margin: 0 auto;
        position: static;
        height: 70px;
        display: block;
        margin-top: 15px;
    }

    .center-btn {
        position: static;
    }

    .bottom-btn-container {
        height: auto;
        margin-bottom: 15px;
    }
}

.floating-cleaner {
    clear: both;
}

#breadcrumb-nav {
    position: absolute; 
    top: 110px;
    left: 120px;
}

@media (max-width: 767px) {
    #breadcrumb-nav {
        left: 5px;
        top: 90px;
    }
}

.breadcrumb {
    background-color: transparent;
}
  
.breadcrumb-item.active {
    color: black;
    font-weight: 600;
}

.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item a:hover {
    text-decoration: none;
    color: #878787;
}
