<section id="desktop-footer-about-us">
    <h3 class="footer-block-title">Kontakt</h3>
    <div class="footer-block-info">
        <a href="mailto:info@xxx.cz">info@zawodowe-online.pl</a>
         <p class="copyright">&copy; Copyright 2018<br/> egzaminy-zawodowe.pl</p>
        <aside class="copyright-info">
            Pytania i odpowiedzi dostępne na stronie pochodzą z arkuszy egzaminacyjnych 
            udostępnionych przez <a href="https://cke.gov.pl" title="Przejdź do strony" target="_blank">www.cke.gov.pl</a>
        </aside>
    </div>
</section>

<section id="mobile-footer-about-us">
    <div class="mobile-footer-container" style="border: none">
        <div class="mobile-clickable">
            <h3 class="footer-block-title mobile-block-title">Kontakt</h3>
            <span class="mobile-icon">+</span>
        </div>
        
        <div class="footer-block-info expand-footer">
            <a href="mailto:info@xxx.cz">info@zawodowe-online.pl</a>
            <p class="copyright">&copy; Copyright 2018<br/> egzaminy-zawodowe.pl</p>

            <aside class="copyright-info">
                Pytania i odpowiedzi dostępne na stronie pochodzą z arkuszy egzaminacyjnych 
                udostępnionych przez <a href="https://cke.gov.pl" title="Przejdź do strony" target="_blank">www.cke.gov.pl</a>
            </aside>

        </div>
    </div>
</section>