<section id="desktop-footer-exam-deadlines-block">
    <h3 class="footer-block-title">Terminy</h3>
    <ul id="deadlines-list">
        <li>
            Sesja zimowa
            <ul>
                <li>
                    część pisemna <br/> 
                    - <time datetime="10.01.2019">10.01.2019</time>
                </li>
                <li>
                    część praktyczna <br/> 
                    - <time datetime="09.01.2019">09.01</time>-<time datetime="16.01.2019">16.01.2019</time>
                </li>
            </ul>
        </li>

        <li style="margin-top: 10px">
            Sesja letnia
            <ul>
                <li>
                    część pisemna <br/> 
                    - <time datetime="18.06.2019">18.06.2019</time>
                 </li>
                <li>
                    część praktyczna <br/> 
                    - <time datetime="17.06.2019">17.06</time>-<time datetime="04.07.2019">04.07.2019</time>
                </li>
            </ul>
        </li>
    </ul>
</section>

<section id="mobile-footer-exam-deadlines-block">
    <div class="mobile-footer-container">
        <div class="mobile-clickable">
            <h3 class="footer-block-title mobile-block-title">Zobacz terminy</h3>
            <span class="mobile-icon">+</span>
        </div>

        <div class="mobile-deadline-container expand-footer">
            <p class="mobile-deadline-session">Sesja zimowa</p>
            <div class="deadline-space mobile-deadline-padding">
                część pisemna
                <div class="deadline-space">
                    <time datetime="10.01.2019"><i>10.01.2019</i></time>
                </div>
            </div>

            <div class="deadline-space mobile-deadline-padding">
                <div>część praktyczna</div>
                <div class="deadline-space">
                    <time datetime="09.01.2019"><i>09.01</time> - <time datetime="16.01.2019">16.01.2019</i></time>
                </div>
            </div>
            
            <div class="deadline-space">
                <div>ogłoszenie wyników</div>
                <div class="deadline-space">
                    <time datetime="22.03.2019"><i>22.03.2019</i></time>
                </div>
            </div>
            

            {# ---------------------------------SESJA LETNIA MOBILNA--------------------------------------- #}

            <p class="mobile-deadline-session" style="margin-top: 10px;">Sesja letnia</p>
            <div class="deadline-space mobile-deadline-padding">
                część pisemna
                <div class="deadline-space">
                    <time datetime="18.06.2019">18.06.2019</time>
                </div>
            </div>

            <div class="deadline-space mobile-deadline-padding">
                część praktyczna
                <div class="deadline-space">
                    <time datetime="17.06.2019">17.06</time> - <time datetime="04.07.2019">04.07.2019</time>
                </div>
            </div>

            <div class="deadline-space mobile-deadline-padding">
                ogłoszenie wyników
                <div class="deadline-space">
                    <time datetime="30.08.2019">30.08.2019</time>
                </div>
            </div>
    
        </div>
    </div>
</section>