<div id="mobile-info-block">
    <img src="{{ asset('images/logo.svg') }}" alt="Egzaminy zawodowe online">
    <strong class="footer-site-desc">
        Strona powstała w celach 
        edukacyjnych. Umożliwia w łatwy i szybki sposób 
        weryfikację wiedzy z wybranego
        zakresu za pomocą losowo generowanych
        testów. Chcesz mieć pewność, że zdasz?<br/>
        Sprawdź się już teraz!
    </strong>
</div>