<section id="desktop-block-exams">
    <h3 class="footer-block-title">Egzaminy</h3>
    <nav>
        <ul id="exam-list">
            {% for stage in stagesGenerator.getRange(0,10) %}
                <li>
                    <a href="{{ path('stage', {'id': stage.id, 'friendly_url': stage.friendly_url}) }}">{{ stage.designation }}</a>
                </li>
            {% endfor %}

            <li>
                <a href="/#egzaminy" style="font-weight: 600">zobacz więcej</a>
            </li>
        </ul>
    </nav>
</section>

<section id="mobile-block-exams">
    <nav class="mobile-footer-container">
        <div class="mobile-clickable">
            <h2 class="footer-block-title mobile-block-title">Dostępne egzaminy</h2>
            <span class="mobile-icon">+</span>
        </div>

        <ul id="exam-list" class="expand-footer">
            {% for stage in stagesGenerator.getRange(0,10) %}
                <li>
                    <a href="{{ path('stage', {'id': stage.id, 'friendly_url': stage.friendly_url}) }}">{{ stage.designation }}</a>
                </li>
            {% endfor %}

            <li>
                <a href="/#egzaminy" style="font-weight: 600">zobacz więcej</a>
            </li>
        </ul>
    </nav>
</section>