{% block footer %}
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3" id="first-footer-block">
					<img src="{{ asset('images/logo.svg') }}" alt="Egzaminy zawodowe online">
					<strong class="footer-site-desc">
						Strona powstała w celach 
						edukacyjnych. Umożliwia w łatwy i szybki sposób 
						weryfikację wiedzy z wybranego
						zakresu za pomocą losowo generowanych
						testów. Chcesz mieć pewność, że zdasz?<br/>
						Sprawdź się już teraz!
					</strong>
				</div>
                <div class="col-lg-3">
                    <section id="block-exams">
                        <h1 class="footer-block-title">Egzaminy</h1>
                        <nav>
                            <ul id="exam-list">
                                {% for stage in stagesGenerator.getAll %}
                                    <li>
                                        <a href="{{ path('stage', {'id': stage.id, 'friendly_url': stage.designation|lower|replace({' ': '-', 'ź': 'z', 'ó': 'o', 'ł': 'l', 'ą': 'a', 'ż': 'z', 'ę': 'e', 'ć': 'c', 'ń': 'n', 'ś': 's'})|url_encode}) }}">{{ stage.designation }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </section>
                </div>
                <div class="col-lg-3">
                    <section id="footer-exam-terms-block">
                        <h1 class="footer-block-title">Terminy</h1>
                        <ul id="terms-list">
                            <li>
                                Sesja zimowa
                                <ul>
                                    <li>
                                        część pisemna <br/> 
                                        - <time datetime="10.01.2019">10.01.2019</time>
                                    </li>
                                    <li>
                                        część praktyczna <br/> 
                                        - <time datetime="09.01.2019">09.01</time>-<time datetime="16.01.2019">16.01.2019</time>
                                    </li>
                                </ul>
                            </li>
                            <li style="margin-top: 10px">
                                Sesja letnia
                                <ul>
                                    <li>
                                        część pisemna <br/> 
                                        - <time datetime="18.06.2019">18.06.2019</time>
                                    </li>
                                    <li>
                                        część praktyczna <br/> 
                                        - <time datetime="17.06.2019">17.06</time>-<time datetime="04.07.2019">04.07.2019</time>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-lg-3">
                    <section id="footer-about-us">
                        <h1 class="footer-block-title">Kontakt</h1>
                        <div id="footer-block-info">
                            <a href="mailto:info@xxx.cz">info@zawodowe-online.pl</a>
                            <p class="copyright">&copy; Copyright 2018<br/> egzaminy-zawodowe.pl</p>
                            <aside id="copyright-info">
                                Pytania i odpowiedzi dostępne na stronie pochodzą z arkuszy egzaminacyjnych 
                                udostępnionych przez <a href="https://cke.gov.pl" title="Przejdź do strony" target="_blank">www.cke.gov.pl</a>
                            </aside>
                        </div>
                    </section>
                </div>
		    </div>
	    </div>
    </footer>
{% endblock %}